<%= form_for([@goal, @play]) do |f| %>
  <% if @play.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@play.errors.count, "error") %> prohibited this play from being saved:</h2>

      <ul>
      <% @play.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :play, :class => "label" %><br />
    <%= f.text_field :play, :placeholder => "Play goes here  (ex. - Today I will look up resources to buy.)", :class => "form_field_long" %>
  </div>
  <p class="description_play">Keep it simple and actionable. You have 35 characters.</p>
  <div class="field">
    <%= f.label :notes, :class => "label" %><br />
    <%= f.text_area :notes, :placeholder => "Notes go here...", :class => "form_field_notes" %>
  </div>
  <div class="actions">
    <%= f.submit "Create Play", :class => "btn btn-success btn-lg link-down" %>
  </div>
<% end %>
