<div class="page-container">
  <div class="forgotpassword-dash">
    <h2>Forgot your password?</h2>

    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :email, :class => "label" %><br />
      <%= f.email_field :email, :autofocus => true, :placeholder => "email", :class => "form_field" %></div>

      <div><%= f.submit "Send me reset password instructions", :class => "btn btn-default btn-lg link-down" %></div>
    <% end %>

    <%= link_to "Sign in", new_session_path(resource_name), :class => "back-link link-down link-fp" %><br />

  </div>
</div>
