<%= form_for(@goal) do |f| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p class="view-tag">What do you want to do?</p>
  <div class="field">
    <%= f.label :name, :class => "label" %><br />
    <%= f.text_field :name, :placeholder => "ex. - I want to learn the rules of football so I can be cool.", :class => "form_field_long" %>
  </div>
  <p class="description">Keep it simple. You have 45 characters.</p>
  <div class="actions">
    <%= f.submit "New Goalline", :class => "btn btn-success btn-lg so-button" %>
  </div>
<% end %>
