<%= render 'layouts/form' %>
<div class="dashboard">
  <div class="dash-content">
    <h1>Goallines</h1>

    <table>
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @goals.each do |goal| %>
      <tr class="goals-table">
        <td><%= link_to goal.name, goal_plays_path(goal) %></td>
        <!-- <td><%= link_to 'Show', goal %></td> -->
        <td><%= link_to edit_goal_path(goal) do %>
              <i class="fa fa-pencil-square-o"></i>
            <% end %>
        </td>
        <td><%= link_to goal, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="fa fa-trash-o"></i>
            <% end %>
        </td>
      </tr>
    <% end %>
    </table>


    <br />

    <%= link_to 'New Goal', new_goal_path, :class => "new-link btn btn-default" %>
  </div>
</div>
