<%= render 'layouts/form' %>
<div class="dashboard">
  <h1>Goallines&nbsp;<i class="fa fa-tasks"></i></h1>
    <div class="pull-up">
      <div class="new-right"><a class="new-button btn btn-default" href="/goals/new"><i class="fa fa-plus"></i> New</a></div>
        <br>
        <p class="view-tag-dash">Reach your goals with a new goalline.<br>Use the button above to get started.</p>
        <div class="table-content">
          <table>
            <tr>
              <th>Name</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>

          <% @goals.each do |goal| %>
            <tr class="goals-table">
              <td class="goal-names"><%= link_to goal.name, goal_plays_path(goal) %></td>
              <!-- <td><%= link_to 'Show', goal %></td> -->
              <td class="e-icon"><%= link_to edit_goal_path(goal) do %>
                    <i class="fa fa-pencil-square-o"></i>
                  <% end %>
              </td>
              <td class="d-icon"><%= link_to goal, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <i class="fa fa-trash-o"></i>
                  <% end %>
              </td>
            </tr>
          <% end %>
          </table>
        </div>
    </div>
</div>
