<%= render 'layouts/form' %>
<div class="goalline-dash">
  <div class = "dash-inner">
    <p id="notice"><%= notice %></p>

    <p class="goal_name">
      <!-- <b>Name:</b> -->
      <%= @goal.name %>
    </p>
    <div class="show-links">
      <%= link_to 'Create plays', new_goal_play_path(@goal, @play), :class => "btn btn-success btn-lg so-button" %>

      <%= link_to 'Edit', edit_goal_path(@goal), :class => "btn btn-default btn-lg so-button" %>
      <br>
      <%= link_to 'Back', goals_path, :class => "back-link" %>
    </div>
  </div>
</div>
